<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AzureMonitoringSuite</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        padding: 50px;
    }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Welcome to AzureMonitoringSuite</h1>
        <p class="lead text-center">Hello, {{ user }}!</p>
        <div class="text-center">
            <a class="btn btn-danger" href="http://127.0.0.1:5000/logout">Logout</a>
        </div>
    </div>
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
</body>

</html>